@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

body{
	font-size: 20px;
	font-family: 'Work Sans', sans-serif;
	color: #333;
  font-weight: 300;
  text-align: center;
  background-color: #F0F8FF;
}

h1{
  font-weight: 300;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  background-color: #FECA5A;
  color: #000;
}
/* Navigation Menu */
nav {
  display: flex;
}

/*refers to the div with the class nav-bar that wraps around the navigational li tags */
.nav-bar {
  width: 75%;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
}

/* Controls what happens to the tag */
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #FDD774;
}

/*refers to the ul that contains the navigational li tags*/
.nav_bar_links_ul {
  float: left;
  display: flex;
  justify-content: space-evenly;
}

/*stying applied to the navigational li tags specifically*/
.nav_bar_links_ul li {
  display: inline;
  margin: 0 10px;
}

/* This will hide questions until the quiz starts */
#hide-until-quiz-starts button {
  display: none;
}


.question{
  font-size: 30px;
  margin-bottom: 10px;
}
.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.answers label{
  display: block;
  margin-bottom: 10px;
}
button{
  font-family: 'Work Sans', sans-serif;
	font-size: 22px;
	background-color: #FECA5A;
	color: #000;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}

button:hover{
	background-color: #FDD774;
}

/* Setting the background-color for each p element */
.first {
  background-color: #a8c2fb;
  padding: 5%;
  opacity: 0.5;
}
  .second {
    background-color: #86abf9;
    padding: 5%;
    opacity: 0.5;
  }
    .third {
      background-color: #6893ef;
      padding: 5%;
      opacity: 0.5;
    }

.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.quiz-container{
  position: relative;
  height: 200px;
  margin-top: 40px;
}
